
    <h1>Success.. </h1>
    <h2>Your information has been successfully stored.</h2>
    <p>
        You are now ready to order some wonderfull Pizzas :-)
        <br />
        <a class="btn-primary" asp-action="List" asp-controller="Pizza">Start Ordering</a>
    </p>
    <code>@ViewBag.Message</code>
