<div class="row">
    <h3 class="col-12">Pizzas for sale...</h3>


    @foreach (var pizza in ViewBag.pizzas)
    {
        <div class="card col-4 shadow p-3 mb-5 bg-white rounded">
            <img src="~/images/@pizza.Photo" width="60" class="card-img-top" />
            <div class="card-body bg-info d-flex flex-column justify-content-between">
                <h5 class="card-title d-flex flex-row justify-content-between">
                    <span>@pizza.Name</span>
                    <span>DKK @pizza.Price</span>
                </h5>
                <p class="card-text">@pizza.Description</p>
                <a asp-controller="cart" asp-action="buy" asp-route-id="@pizza.Id" class="btn btn-primary">Order</a>
            </div>
        </div>
    }
    </div>


